{%load static%}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Map</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'busapp/css/bootstrap.min.css'%}" rel="stylesheet">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
    <link href="{% static 'busapp/css/style.css'%}"  rel="stylesheet">
</head>
<body style='border:0; margin: 0'>
    <div id='map'></div>
    <div class="formBlock">
        <form id="form">
            <a href = "/project">
                YOUR PHOTO HERE!!
            </a>        </form>
    </div>

    <div class="info-box">
        <p style="padding: 10px; color: black; font-size: 24px;"><strong>Trip Summary :</strong> </p>
        <div style="padding: 10px;" class="info-box-1">
            <i class = "fa fa-map-marker-alt me-3 marker-icon"></i><p style="color: black; font-size: 20px;"><strong>Starting Point:</strong><br> <span id="start-location" style = "color: rgb(147, 145, 145)">Current Location</span></p>

            <i class = "fa fa-map-marker-alt me-3 marker-icon-2"></i><p style="color: black; font-size: 20px;"><strong>Ending Point:</strong><br><span id="endlocation" style="color: rgb(147, 145, 145);">Enter Ending Point</span></p><br>
        </div>
        
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=YeMtZMEIHZJVkGmAaTOa76JPxtpsUprj"></script>
    <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=YeMtZMEIHZJVkGmAaTOa76JPxtpsUprj"></script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="busapp/lib/wow/wow.min.js"></script>
    <script src="busapp/lib/easing/easing.min.js"></script>
    <script src="busapp/lib/waypoints/waypoints.min.js"></script>
    <script src="busapp/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="busapp/lib/tempusdominus/js/moment.min.js"></script>
    <script src="busapp/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="busapp/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <script src="{% static 'busapp/js/app.js'%}"></script>
</body>
</html>
